* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff;
    font-family: "Candara";
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem 0.5rem;
}

.main-heading,
.secondary-heading {
    text-align: center;
}

.main-heading {
    font-size: 3rem;
    margin-bottom: 2rem;
}

.secondary-heading {
    font-size: 2rem;
}

.intro {
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 1rem;
}

.section {
    padding: 1rem 0;
}

/* .toggler-control {
    cursor: pointer;
} */

.bold {
    font-weight: 900;
}

/* .toggler-icon {
    display: inline-block;
    transform: rotate(-90deg);
    position: relative;
    top: 4px;
    left: 4px;
} */

.form {
    padding: 1rem;
    /* background-color: #eee; */
    border-radius: 4px;
    margin: 1rem 0;
    box-shadow: 0px 0px 16px #ccc;

}

.form-element:not(:last-of-type) {
    padding-bottom: 1rem;
}

.form-label {
    display: block;
    margin-bottom: 0.25rem;
}

.form-input {
    padding: .25rem;
    border-radius: .25rem;
    border: 2px solid #ddd;
    width: 100%;
    font-size: 1rem;
    background-color: #fff;
}

#question-section {
    box-shadow: 0px 0px 16px #ccc;
    padding: 1rem;
    border-radius: 4px;
}

.question-information {
    display: flex;
}

.question-information > * {
    padding: 8px;
}

/* .question-number, */
/* .question, */
.timer-container,
.timer {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* .question-number {
    width: 20%;
    font-size: 1.5rem;
} */

.question {
    width: 82%;
    /* border-left: 2px solid #bbb; */
    border-right: 2px solid #bbb;
}

.timer-container {
    width: 15%;
    flex-direction: column;
    padding-left: 1rem;
}

.small-heading {
    font-size: 1.35rem;
    margin-bottom: 0.5rem;
}

.timer {
    height: 75px;
    width: 75px;
    border-radius: 50%;
    background-color: #f4f4f4;
    border: 2px solid green;
    font-size: 2.25rem;
}

.answers {
    padding: 2rem 0;
    display: flex;
    justify-content: space-evenly;
}

.answer {
    text-align: center;
    border: 3px solid #ccc;
    width: 20%;
    padding: 1rem 0;
    cursor: pointer;
}

.answer:hover {
    background-color: #ccc;
}

.progress-bar {
    width: 100%;
    background-color: red;
    height: 10px;
}