* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff;
    font-family: "Candara";
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem 0.5rem;
}

.main-heading,
.secondary-heading {
    text-align: center;
}

.main-heading {
    font-size: 3rem;
    margin-bottom: 2rem;
}

.secondary-heading {
    font-size: 2rem;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  
  /* Tooltip text */
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 1rem;
  }
  
  /* Tooltip arrow */
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }

.intro {
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 1rem;
}

.section {
    padding: 1rem 0;
}

.bold {
    font-weight: 900;
}

.form {
    margin: 1rem 0;
}

.form-element:not(:last-of-type) {
    padding-bottom: 1rem;
}

.form-label {
    display: block;
    margin-bottom: 0.25rem;
}

.form-input {
    padding: .25rem;
    border-radius: .25rem;
    border: 2px solid #ddd;
    width: 100%;
    font-size: 1rem;
    background-color: #fff;
}

.form,
.question-card,
#results-section {
    box-shadow: 0px 0px 16px #ccc;
    padding: 1rem;
    border-radius: 4px;
}

.question-card {
    display: relative;
}

#exit-btn {
    position: relative;
    top: -39px;
    right: -39px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #f22;
    display: inline-block;
    float: right;
    text-align: center;
    line-height: 51px;
    font-size: 2.5rem;
    color: #ddd;
    cursor: pointer;
}

.btn {
    padding: 8px;
    border-radius: 4px;
    border: 2px solid #ddd;
    font-weight: 700;
}

.btn:hover {
    background-color: #ddd;
}

#question-section {
    display: none;
}

.question-information {
    display: flex;
}

.question-information > * {
    padding: 8px;
}

.timer-container,
#timer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.question {
    width: 82%;
    border-right: 2px solid #bbb;
}

.timer-container {
    width: 15%;
    flex-direction: column;
    padding-left: 1rem;
}

.small-heading {
    font-size: 1.35rem;
    margin-bottom: 0.5rem;
}

#timer {
    height: 75px;
    width: 75px;
    border-radius: 50%;
    background-color: #f4f4f4;
    border: 3px solid #0c0;
    font-size: 2.25rem;
}

#answers {
    padding: 2rem 0;
    display: flex;
    justify-content: space-around;
}

.answer {
    text-align: center;
    border: 3px solid #ccc;
    width: 23%;
    padding: 1rem 0;
    cursor: pointer;
    font-size: 1.2rem;
}

.answer:hover {
    background-color: #ccc;
}

#results-section {
    display: none;
}

#results-container {
    margin-bottom: 1rem;
}

.results-text {
    font-size: 1.1rem;
}

#progress-bar {
    width: 100%;
    /* background-color: #f4f4f4; */
    height: 8px;
    display: flex;
    flex-direction: row;
}

.progress-bar-element {
    display: inline-block;
    height: 8px;
    background-color: #ddd;
    flex-grow: 1;
    margin-right: 3px;
}

.progress-bar-element:last-of-type {
    margin-right: 0;
}

.progress-bar-element.green {
    background-color: #0c0;
}

.progress-bar-element.red {
    background-color: #f22;
}